
.login {
    width: 50%;
    margin: auto;
}

.login__input {
    padding: 18px;
    margin: 6px;
    width: 80%;
    border-radius: 10px;
    border: none;
    border: 1.5px solid var(--border-default);
}

.login__input:hover {
    border: 1.5px solid var(--color-primary);
} 

.login__button {
    margin: 12px;
    padding: 13px;
    width: 80%;
    border-radius: 20px;
    color: var(--color-text);
    background-color: var(--color-primary);
    border: none;
}

.login__button:hover {
    background-color: var(--color-primary-hover);
    cursor: pointer;
    color: #e6e6e6;
}